{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        {% include "shopping/header.html" %}

        <main>

            
            
            {% comment %} {% if cart.items.all %}
              <ul>
                {% for item in cart.items.all %}
                  <li>
                    {{ item.product.name }} - {{ item.product.price }} Ft x {{ item.quantity }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Your cart is empty.</p>
            {% endif %} {% endcomment %}

            <h3>Shopping Cart:</h3>
            <table class="product">
                <tr>
                    <th>Customer</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                <tr>
                    <td>{{ cart.customer }}</td>
                    <td>{{ cart.created_at }}</td>
                    <td>{{ cart.updated_at }}</td>
                </tr>
            </table>
            <h4>Products in cart</h4>
            {% if cart %}
            <table class="product">
                {% if cart.items.all %}
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove from cart</th>
                    </tr>
                    {% for item in cart.items.all %} 
                    <tr>
                        <td>{{ item.product.product_name }} </td> 
                        <td>{{ item.product.price }} </td>                 
                        <td>{{ item.quantity }} </td>
                        <td>{{ item.total_price }} </td>
                        <td><a href="{% url 'remove_from_cart' cart_item_id=item.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th colspan=4>Total:</th>
                        <th>{{ cart.total_price }}</th>
                    </tr>
                    {% endfor %}
                {% else %}
                    <p>No product in cart.</p>
                {% endif %}
            </table>      
            {% else %}
            <p>No product in cart.</p>
            {% endif %}
        </main>

    </body>
</html>