{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    </head>
    <body>
        {% include "shopping/header.html" %}

        <main>
            <h1>{{ customer }}</h1>

            <table class="customers">
                <tr>
                    <th>First name:</th>
                    <th>Last name:</th>
                    <th>Email:</th>
                    <th>Age:</th>
                    <th>Phone:</th>
                    <th>Address:</th>
                    <th>Customer addresses:</th>
                    <th>Purchases:</th>
                    <th>Edit:</th>
                </tr>
                <tr>
                    <td> {{ customer.first_name }}</td>
                    <td> {{ customer.last_name }} </td>
                    <td> {{ customer.email }} </td>
                    <td> {{ customer.age }} </td>
                    <td> {% if customer.phone_number %} {{ customer.phone_number }} {% else %} - {% endif %}</td>
                    <td> {% if customer.address %} {{ customer.address }} {% else %} - {% endif %} </td>
                    <td> 
                    {% if customer.customer_addresses.all %}
                        <ul>
                        {% for customer_address in customer.customer_addresses.all %}
                            {% if customer.address %}                            
                                <li>Country: {{ customer.address.country }} </li>
                                <li>Zip code: {{ customer.address.zip_code }} </li>
                                <li>City: {{ customer.address.city }} </li>
                                <li>Street: {{ customer.address.street }} </li>
                                <li>House number: {{ customer.address.house_number }} </li>                            
                            {% else %}
                                -
                            {% endif %}
                        {% endfor %}
                        </ul>
                        <hr>
                    {% else %}
                        -
                    {% endif %}
                    </td>
                    <td> 
                    {% if customer.purchases.all %}
                        <table>
                        {% for purchase in customer.purchases.all %} {% comment "" %} |dictsort:"purchase_date" - orders the data {% endcomment %}
                            <tr>
                                <th colspan=3>{{ forloop.counter }} - {{ purchase.purchase_date|date:"Y/m/d" }}</th>
                                {% if purchase.items.all %}
                                    <tr>
                                        <td>Product</td>
                                        <td>Price</td>
                                        <td>Quantity</td>
                                    </tr>
                                    {% for item in purchase.items.all %} 
                                    <tr>
                                        <td>{{ item.product.product_name }}</td>
                                        <td>{{ item.product.price }}</td>
                                        <td>{{ item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </table>
                    {% else %}
                        -
                    {% endif %}
                    </td>
                    <td><a href="{% url 'customer_update' customer_id=customer.id %}"><img class="icon" src={% static "images/edit.png" %} alt="edit"></a></td>
                </tr>
            </table>
        </main>

        <script src="" async defer></script>
    </body>
</html>