{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Customers</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        {% include "shopping/header.html" %}

        <main>
            <h3>Customers:</h3>

            {% comment %} <form method="get">
                First name: <input type="text" name="first_name" placeholder="Search by first name">
                Last name: <input type="text" name="last_name" placeholder="Search by last name">
                Email: <input type="text" name="email" placeholder="Search by email">
                <input type="submit" value="Search">
            </form> {% endcomment %}
            <form method="get">
            <table class="search">
                {{ form.as_table }}
            </table>
                <input type="submit" value="Search">
            </form>
            <br>
            <a href="{% url 'add_customer' %}"><button>Add customer</button></a>
            <hr>

            {% if customers %}
            <table class="customers">
                <tr>
                    <th>id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Phone</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td><a href="{% url 'customer_details' customer_id=customer.id %}">{{ customer.id }}</a></td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.age }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            {% else %}
            <p>No customer.</p>
            {% endif %}
        </mian>
        <script src="" async defer></script>
    </body>
</html>