{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        {% include "shopping/header.html" %}


        <main>
            <h1>New customer</h1>            
            <form method="POST">
                <table class="add">
                    {% csrf_token %}
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Add">
            </form>
        </main>

        <script src="" async defer></script>
    </body>
</html>