{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/master.css' %}">
    </head>
    <body>
        {% include "shopping/header.html" %}

        <main>
            <h1>{{ customer }}</h1>

            <table class="customers">
                <tr>
                    <th>First name:</th>
                    <th>Last name:</th>
                    <th>Email:</th>
                    <th>Age:</th>
                    <th>Phone:</th>
                    <th>Address:</th>
                    <th>Customer addresses:</th>
                </tr>
                <tr>
                    <td> {{ customer.first_name }}</td>
                    <td> {{ customer.last_name }} </td>
                    <td> {{ customer.email }} </td>
                    <td> {{ customer.age }} </td>
                    <td> {% if customer.phone_number %} {{ customer.phone_number }} {% else %} - {% endif %}</td>
                    <td> {% if customer.address %} {{ customer.address }} {% else %} - {% endif %} </td>
                    <td> 
                    {% if customer.customer_addresses.all %}
                        <ul>
                        {% for customer_address in customer.customer_addresses.all %}
                            {% if customer.address %} 
                            
                            <li>Country: {{ customer.address.country }} </li>
                            <li>Zip code: {{ customer.address.zip_code }} </li>
                            <li>City: {{ customer.address.city }} </li>
                            <li>Street: {{ customer.address.street }} </li>
                            <li>House number: {{ customer.address.house_number }} </li>
                            
                            {% else %} - {% endif %}
                        {% endfor %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                    </td>
                </tr>
            </table>

        </main>

        <script src="" async defer></script>
    </body>
</html>