<div class="container">
    <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
          <div class="logo">
                <a href="#">BRAND</a>
          </div>
          <div class="nav-wrapper">
                <ul>
                      <li><a href="{% url 'index' %}">Home</a></li>
                      <li><a href="{% url 'customer_list' %}">Customers</a></li>
                      <li><a href="{% url 'product_list' %}">Products</a></li>
                </ul>
          </div>
    </nav>
</div>