{% load static %}
<div class="container">
    <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
          <div class="logo">
                <a href="#">BRAND</a>
          </div>
          <div class="nav-wrapper">
                <ul>
                      <li><a href="{% url 'index' %}"><img class="icon" src={% static "images/home.png" %} alt="home"> Home</a></li>
                      <li><a href="{% url 'customer_list' %}"><img class="icon" src={% static "images/group.png" %} alt="users"> Customers</a></li>
                      <li><a href="{% url 'product_list' %}"><img class="icon" src={% static "images/box.png" %} alt="products"> Products</a></li>
                </ul>
          </div>
    </nav>
</div>