{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" type="text/css" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
      {% include "shopping/header.html" %}

        <main>
            {% if user.is_authenticated %}
                <h1>Welcome to shopping page, {{ user.username }}!</h1>
                {% comment %} <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form> {% endcomment %}
            {% else %}
                <h1>Welcome to shopping page!</h1>
                <p>Do you have an account? <a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </main>  

        <script src="" async defer></script>
    </body>
</html>