{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        {% include "shopping/header.html" %}

        <main>
            <p></p>
            <h3>Products:</h3>
            <form method="get">
                <table>
                    {{ form.as_table }}
                </table>
                    <input type="submit" value="Search">
                </form>
                <br>
                <a href="{% url 'product_add' %}"><button>Add product</button></a>
                <hr>
                {% if products %}
                <table class="product">
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Available</th>
                    </tr>
                {% for product in products %}
                    <tr>
                        <td><a href="{% url 'product_details' product_id=product.id %}">{{ product.id }}</a></td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.storage_quantity }}</td>
                    </tr>
                {% endfor %}
                </table>      
            {% else %}
            <p>No product.</p>
            {% endif %}
        </main>

        <script src="" async defer></script>
    </body>
</html>