{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    </head>
    <body>
        {% include "shopping/header.html" %}


        <main>
            <h1>{{ product.product_name }}</h1>

            <ul>
                <li>Price: {{ product.price }}</li>
                <li>Storage: {{product.storage_quantity}} </li>
                <li>Expire: {{product.expiry_dte}} </li>
                <li>Discounted: {% if product.is_discounted %} Yes {% else %} No {% endif %} </li>
            </ul>

            <a href="{% url 'product_list' %}">Products</a>
        </main>

        <script src="" async defer></script>
    </body>
</html>