{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        {% include "shopping/header.html" %}


        <main>
            <h1>{{ product.product_name }}</h1>

            <table class="product">
                <tr>
                    <th>Price:</th>
                    <th>Storage:</th>
                    <th>Expire:</th>
                    <th>Discounted:</th>
                    <th>Edit:</th>                    
                    <th>Delete:</th>
                    <th>Purchase:</th>                    
                </tr>
                <tr>
                    <td> {{ product.price }}</td>
                    <td> {{ product.storage_quantity }} </td>
                    <td> {{ product.expiry_dte }} </td>
                    <td> {% if product.is_discounted %} Yes {% else %} No {% endif %} </td>
                    <td><a href="{% url 'product_update' product_id=product.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'product_delete' product_id=product.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    <td>
                        {% if product.storage_quantity %}
                            {% if user.customer %}                        
                                <form action="{% url 'product_buy' product.id %}" method="post">
                                {% csrf_token %}
                                {{ form.quantity }}
                                <button type="submit" class="menu-button"><i class="fa-solid fa-money-bill"></i> Purchase</button>
                                </form>
                            {% else %}
                                <p>No customer belongs to user.</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>            
            {% if product.product_image %}
                <p><img src="{{ product.product_image.url }}" alt="{{ product.name }}" width="200" /></p>
            {% else %}
                <p>No image available</p>
            {% endif %}

            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}

            <a href="{% url 'product_list' %}">Products</a>
        </main>

        <script src="" async defer></script>
    </body>
</html>