{% load static %}

{% include "header.html" %}

        <main>
            <div class="main-content">
                <h3>Authors:</h3>
                <form method="get">
                <table>
                    {{ form.as_table }}
                </table>
                    <input type="submit" value="Search">
                </form>
                <br>
                <hr>

                {% if authors %}
                <table class="authors">
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Birth date</th>
                        <th>Birth place</th>
                        <th>Nationality</th>
                        <th>Decease date</th>
                        <th>Decease place</th>
                    </tr>
                    {% for author in authors %}
                        <tr>
                            <td><a href="{% url 'author_details' author_id=author.id %}">{{ author.id }}</a></td>
                            <td>{{ author.name }}</td>
                            <td>{{ author.birth_date }}</td>
                            <td>{{ author.birth_place }}</td>
                            <td>{{ author.nationality }}</td>
                            <td>
                            {% if author.decease_date %}
                            {{ author.decease_date }}
                            {% else %}
                            -
                            {% endif %}
                            </td>
                            <td>
                            {% if author.decease_palce %}
                            {{ author.decease_palce }}
                            {% else %}
                            -
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                
                {% else %}
                <p>No authors.</p>
                {% endif %}
            </div>
        </main>
        
        {% include "footer.html" %}
        <script></script>
    </body>
</html>