{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% include "header.html" %}


        <main>
            <h1>{{ book }}</h1>

            <table class="books">
                <tr>
                    <td>ISBN:</td><td> {{ book.isbn }}</td>
                </tr>
                <tr>
                    <td>Tile:</td><td> {{ book.title }} </td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td> 
                        {% if book.author %}
                            {% for author in book.author.all %}
                                {{ author.name }} 
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Published:</td><td> {{ book.published_year }} </td>
                </tr>
                <tr>
                    <td>Pages:</td><td> {{ book.pages }} </td>
                </tr>
                <tr>
                    <td colspan=2>Cover image</td>
                </tr>
                <tr>
                    <td colspan=2>
                        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" width=200>
                    </td>
                </tr>
            </table>

        </main>

        <script src="" async defer></script>
    </body>
</html>