<div class="container">
    <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logo">
            <a href="#">BRAND</a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'author_list' %}">Authors</a></li>
            </ul>
        </div>
    </nav>
</div>