{% load static %}
{% load i18n %}

{% include "header.html" %}


        <main>
            <div class="main-content">
                <h1>{% trans "My profile" %}</h1>
                <ul class="profile">
                    <li>{% trans "First name" %}: {{ user.first_name }}</li>
                    <li>{% trans "Last name" %}: {{ user.last_name }}</li>
                    <li>{% trans "Username" %}: {{ user.username }}</li>
                    <li>{% trans "Email" %}: {{ user.email }}</li>
                    {% if borrow.all %}
                        <li>{% trans "Borrows" %}:</li>
                        <ul>
                        {% for item in borrow.all %}
                            <li>
                                {{ item.book.title }} – 
                                {{ item.borrow_date }}
                            </li>
                        {% empty %}
                            {% trans "No borrowed books" %}.
                        {% endfor %}
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </main>

        {% include "footer.html" %}
        <script></script>
    </body>
</html>